html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url("assets/wmremove-transformed.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  display: block;
}

.player-button {
  background-color: rgb(0, 59, 94);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  width: 480px;
  height: 120px;
  text-align: center;
  font-size: 20pt;
}

#main-menu, #canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 5rem;
}


#singleplayer {

}

#multiplayer {

}