html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

canvas {
  display: block;
}

.player-button {
  color: white;
  width: 480px;
  height: 120px;
  text-align: center;
  font-size: 20pt;
  color: black;
}

.centered {
  position: absolute;
  transform: translate(50%, 0);
}

#singleplayer {

}

#multiplayer {

}